/*
   Common Code Start
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-bottom: 60px;
}
h4 {
  text-transform: capitalize;
  font-size: 40px;
}
/*
   Common Code End
*/

/*
   Header Code Start
*/
.header__area {
  padding: 30px 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo a {
      color: #333;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 700;
    }
    &__menu ul {
      display: flex;
      li a {
        text-transform: capitalize;
        margin-left: 20px;
        &:hover {
          color: tomato;
        }
      }
    }
  }
}
/*
   Header Code End
*/

/*
   Banner Code Start
*/
.banner__area img {
  border: 3px solid #ddd;
  padding: 3px;
  border-radius: 7px;
  width: 100%;
}
/*
   Banner Code End
*/

/*
   About Code Start
*/
.about__area {
  padding: 80px 0;
  &-title {
    text-align: center;
    margin-bottom: 45px;
    h4 {
      text-transform: capitalize;
      font-size: 28px;
      margin-bottom: 5px;
    }
  }
  &-about {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .icon {
      border: 1px solid #ddd;
      height: 50px;
      width: 50px;
    }
    &-single {
      flex-basis: 32%;
      border: 1px solid #ddd;
      padding: 40px 20px;
      transition: 0.3s;
      &:hover {
        border-color: tomato;
        .icon {
          border-color: rgb(184, 35, 9);
        }
      }
      h4 {
        text-transform: capitalize;
        margin: 10px 0px;
        font-size: 24px;
      }
      p {
        text-align: justify;
      }
    }
  }
}
/*
   About Code End
*/

/*
   Services Code Start
*/
.services__area {
  background-color: #f2f2f2;
  padding: 80px 0;

  &-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-single {
      background-color: #fff;
      padding: 20px;
      flex-basis: 30%;
      h4 {
        text-align: center;
        background-color: teal;
        color: whitesmoke;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 22px;
      }
      p {
        line-height: 28px;
        margin: 20px 0;
        text-align: justify;
      }
      a {
        background-color: tomato;
        color: #fff;
        text-transform: capitalize;
        padding: 10px 30px;
        display: inline-block;
        transition: 0.3s;
        &:hover {
          background-color: teal;
        }
      }
    }
  }
}
/*
   Services Code End
*/

/*
   Gallery Code Start
*/
.gallery__area {
  padding: 80px 0;
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-single {
      flex-basis: 23%;
      margin-bottom: 35px;
    }
  }
  img {
    border: 3px solid #ddd;
    padding: 3px;
    border-radius: 15px;
  }
}
/*
   Gallery Code End
*/

/*
   Contact Code Start
*/
.contact__area {
  background-color: #ddd;
  padding: 80px 0;
  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-form {
      flex-basis: 50%;
      input,
      textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
      }
      textarea {
        height: 110px;
      }
      input[type="submit"] {
        background-color: tomato;
        border: 0;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          background-color: teal;
        }
      }
    }
    &-address {
      flex-basis: 35%;
      .single__contact {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        i {
          display: inline-block;
          background-color: tomato;
          color: #fff;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          margin-right: 12px;
          padding: 5px;
        }
        h3 {
          display: inline-block;
          text-transform: capitalize;
          font-size: 22px;
          span {
            display: block;
            font-size: 16px;
            text-transform: lowercase;
            font-weight: normal;
          }
        }
      }
    }
  }
}
/*
   Contact Code End
*/
/*
   Footer Code Start
*/

.footer__area {
  background-color: teal;
  text-align: center;
  padding: 20px 0;
  p {
    color: #fff;
    text-transform: capitalize;
  }
}
/*
   Footer Code End
*/

/*
Responsive Design Code Start
*/
/* Medium Layout: 1280px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}
/* Tablet Layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 280px;
  }
  .header {
    flex-direction: column;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .about__area {
    padding: 10px 0;
    &-about-single {
      flex-basis: 100%;
      margin: 20px;
    }
  }
  .services__area {
    padding: 0;
    &-service-single {
      padding: 20px;
      flex-basis: 100%;
      margin: 0px;
      margin-bottom: 10px;
    }
  }
  .title {
    margin-bottom: 0;
  }

  .gallery__area {
    padding: 0;
    &__gallery-single {
      flex-basis: 48%;
      margin-bottom: 5%;
    }
  }
  .contact__area {
     padding: 0;
    &__contact {
      &-form {
        flex-basis: 100%;
        margin-bottom: 5%;
      }
      &-address {
        flex-basis: 100%;
      }
    }
  }
}
/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   .container{
      width: 450px;
   }
}
/*
Responsive Design Code End
*/
