/*
   Common Code Start
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

h4 {
  text-transform: capitalize;
  font-size: 40px;
}

/*
   Common Code End
*/
/*
   Header Code Start
*/
.header__area {
  padding: 30px 0;
}

.header__area .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__area .header__logo a {
  color: #333;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.header__area .header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__area .header__menu ul li a {
  text-transform: capitalize;
  margin-left: 20px;
}

.header__area .header__menu ul li a:hover {
  color: tomato;
}

/*
   Header Code End
*/
/*
   Banner Code Start
*/
.banner__area img {
  border: 3px solid #ddd;
  padding: 3px;
  border-radius: 7px;
  width: 100%;
}

/*
   Banner Code End
*/
/*
   About Code Start
*/
.about__area {
  padding: 80px 0;
}

.about__area-title {
  text-align: center;
  margin-bottom: 45px;
}

.about__area-title h4 {
  text-transform: capitalize;
  font-size: 28px;
  margin-bottom: 5px;
}

.about__area-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__area-about .icon {
  border: 1px solid #ddd;
  height: 50px;
  width: 50px;
}

.about__area-about-single {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  border: 1px solid #ddd;
  padding: 40px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about__area-about-single:hover {
  border-color: tomato;
}

.about__area-about-single:hover .icon {
  border-color: #b82309;
}

.about__area-about-single h4 {
  text-transform: capitalize;
  margin: 10px 0px;
  font-size: 24px;
}

.about__area-about-single p {
  text-align: justify;
}

/*
   About Code End
*/
/*
   Services Code Start
*/
.services__area {
  background-color: #f2f2f2;
  padding: 80px 0;
}

.services__area-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__area-service-single {
  background-color: #fff;
  padding: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.services__area-service-single h4 {
  text-align: center;
  background-color: teal;
  color: whitesmoke;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 22px;
}

.services__area-service-single p {
  line-height: 28px;
  margin: 20px 0;
  text-align: justify;
}

.services__area-service-single a {
  background-color: tomato;
  color: #fff;
  text-transform: capitalize;
  padding: 10px 30px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__area-service-single a:hover {
  background-color: teal;
}

/*
   Services Code End
*/
/*
   Gallery Code Start
*/
.gallery__area {
  padding: 80px 0;
}

.gallery__area__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__area__gallery-single {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  margin-bottom: 35px;
}

.gallery__area img {
  border: 3px solid #ddd;
  padding: 3px;
  border-radius: 15px;
}

/*
   Gallery Code End
*/
/*
   Contact Code Start
*/
.contact__area {
  background-color: #ddd;
  padding: 80px 0;
}

.contact__area__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__area__contact-form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact__area__contact-form input,
.contact__area__contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.contact__area__contact-form textarea {
  height: 110px;
}

.contact__area__contact-form input[type="submit"] {
  background-color: tomato;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.contact__area__contact-form input[type="submit"]:hover {
  background-color: teal;
}

.contact__area__contact-address {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.contact__area__contact-address .single__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contact__area__contact-address .single__contact i {
  display: inline-block;
  background-color: tomato;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  padding: 5px;
}

.contact__area__contact-address .single__contact h3 {
  display: inline-block;
  text-transform: capitalize;
  font-size: 22px;
}

.contact__area__contact-address .single__contact h3 span {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-weight: normal;
}

/*
   Contact Code End
*/
/*
   Footer Code Start
*/
.footer__area {
  background-color: teal;
  text-align: center;
  padding: 20px 0;
}

.footer__area p {
  color: #fff;
  text-transform: capitalize;
}

/*
   Footer Code End
*/
/*
Responsive Design Code Start
*/
/* Medium Layout: 1280px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Tablet Layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 280px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .about__area {
    padding: 10px 0;
  }
  .about__area-about-single {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 20px;
  }
  .services__area {
    padding: 0;
  }
  .services__area-service-single {
    padding: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }
  .title {
    margin-bottom: 0;
  }
  .gallery__area {
    padding: 0;
  }
  .gallery__area__gallery-single {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-bottom: 5%;
  }
  .contact__area {
    padding: 0;
  }
  .contact__area__contact-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 5%;
  }
  .contact__area__contact-address {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

/*
Responsive Design Code End
*/
/*# sourceMappingURL=style.css.map */